body {
    background:rgb(119, 119, 119);
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 11%);
    margin: 0;
}
.container {
    width: 600px;
    margin: 0 auto;
}

.profile {
    text-align: center;
     margin-bottom: 50px;
}

.foto-principal {
    width: 200px; ;
    border: 2px solid rgb(22, 22, 22) ;
    border-radius: 10% 10% 10% 10%;
    margin: 30px 30px 0px 30px;
    box-shadow:12px 12px 12px black;   
}

h1 {
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(245, 243, 243);
    font-weight:100;
    letter-spacing: 4px;
}

h4 {
    margin-bottom:0;
}

h5 {
    margin-top:3px;
    font-weight: 100;
    font-style:italic ;
}

p {
    line-height: 25px;
}

.social-links{
    text-decoration: none;
}

.social-icons {
    width: 40px;
    height: auto ;
}

.linkedin {
    margin: 0 15px 0 15px;
}

.jobs-list {
    list-style: none;
    padding-left: 20px;
}

.footer {
    background-color: rgb(0, 0, 0);
    color:white;
    text-align:center;
    padding: 10px 0;
    font-style: italic;
    
}